.imageContainer {
  height: 532.1px;
  width: 714px;
  background-color: var(--primary-100);
  min-width: 714px;
  max-width: 100%;
}
.elementIcon {
  width: 96.91%;
  height: 24.24%;
  position: absolute;
  margin: 0 !important;
  top: 38.92%;
  right: 4.74%;
  bottom: 36.84%;
  left: -1.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.customiseItTo {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.customiseItTo,
.customiseTheApp,
.textBlock {
  align-self: stretch;
  position: relative;
}
.customiseTheApp {
  font-size: var(--paragraph-p2-bold-size);
  letter-spacing: -0.02em;
  line-height: 30px;
}
.textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.letsGo {
  position: relative;
  font-size: var(--paragraph-p2-bold-size);
  letter-spacing: -0.02em;
  line-height: 23px;
  font-weight: 500;
  font-family: var(--header-h5);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 67px;
}
.iconChild {
  height: 14px;
  width: 14px;
  position: relative;
}
.btnGetStarted,
.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.btnGetStarted {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-21xl);
  background-color: var(--color-cornflowerblue-100);
  border-radius: var(--br-5xs);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.heading {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-41xl);
  min-width: 435px;
  max-width: 100%;
}
.customiseItToYourNeeds {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-121xl) var(--padding-201xl);
  box-sizing: border-box;
  gap: var(--gap-79xl);
  max-width: 100%;
  z-index: 1;
}
.elementIcon1 {
  width: 21.52%;
  height: 17.6%;
  position: absolute;
  margin: 0 !important;
  top: 34.85%;
  right: 29.05%;
  bottom: 47.54%;
  left: 49.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.heading1,
.whetherYouWant {
  position: relative;
  max-width: 100%;
}
.whetherYouWant {
  width: 979px;
  font-size: var(--paragraph-p2-bold-size);
  letter-spacing: -0.02em;
  line-height: 30px;
  display: inline-block;
}
.heading1 {
  width: 1481px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b,
.keepHomeAnd,
.personal {
  align-self: stretch;
  position: relative;
}
.personal {
  line-height: 36px;
  font-weight: 600;
}
.b,
.keepHomeAnd {
  letter-spacing: -0.02em;
}
.b {
  font-size: var(--header-h4-size);
  color: var(--color-khaki-100);
  white-space: nowrap;
}
.keepHomeAnd {
  font-size: var(--paragraph-p2-bold-size);
  line-height: 23px;
  font-weight: 500;
}
.textBlock1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.icon1 {
  height: 18px;
  width: 18px;
  position: relative;
}
.syncUnlimitedDevices {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 37px);
}
.point {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.customizeHomeDashboard {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  min-width: 226px;
  max-width: 100%;
}
.point3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.addDueDates,
.connectPrimaryGoogle {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  min-width: 224px;
  max-width: 100%;
}
.addDueDates {
  min-width: 201px;
}
.bulletPoint {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  max-width: 100%;
  font-size: var(--paragraph-p2-bold-size);
}
.getStarted {
  position: relative;
  font-size: var(--paragraph-p3-medium-size);
  letter-spacing: -0.02em;
  font-weight: 500;
  font-family: var(--header-h5);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 86px;
}
.btnGetStarted1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-21xl);
  background-color: var(--color-cornflowerblue-100);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.btnGetStarted1:hover {
  background-color: var(--color-cornflowerblue-200);
}
.priceBoard,
.priceList {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.priceBoard {
  flex: 1;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-61xl) var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  min-width: 354px;
  color: var(--color-white);
}
.priceList {
  width: 1481px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--paragraph-p1-regular-size);
}
.customizationParent,
.pricing {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.pricing {
  align-items: center;
  justify-content: center;
  padding: var(--padding-121xl) var(--padding-xl);
  gap: var(--gap-41xl);
  text-align: center;
}
.customizationParent {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--header-h1-size);
  color: var(--color-gray);
  font-family: var(--header-h5);
}
@media screen and (max-width: 1525px) {
  .imageContainer {
    flex: 1;
  }
  .customiseItToYourNeeds {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .heading,
  .imageContainer {
    min-width: 100%;
  }
  .customiseItToYourNeeds {
    gap: var(--gap-30xl);
    padding-left: var(--padding-91xl);
    padding-right: var(--padding-91xl);
    box-sizing: border-box;
  }
  .pricing {
    padding-bottom: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .customiseItTo {
    font-size: var(--font-size-39xl);
  }
  .heading {
    gap: var(--gap-11xl);
  }
  .customiseItToYourNeeds {
    gap: var(--gap-5xl);
    padding: var(--padding-72xl) var(--padding-36xl);
    box-sizing: border-box;
  }
  .b {
    font-size: var(--font-size-10xl);
  }
  .priceBoard {
    padding: var(--padding-121xl) var(--padding-3xl) var(--padding-33xl);
    box-sizing: border-box;
  }
  .priceList {
    gap: var(--gap-base);
  }
  .pricing {
    gap: var(--gap-11xl);
    padding-bottom: var(--padding-40xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .customiseItTo {
    font-size: var(--font-size-24xl);
  }
  .customiseItToYourNeeds {
    padding: var(--padding-40xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .personal {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .b {
    font-size: var(--font-size-3xl);
  }
  .point3 {
    flex-wrap: wrap;
  }
  .priceBoard {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
