.tryWhitepaceToday {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
}
.getStartedFor {
  margin: 0;
}
.getStartedForContainer {
  width: 550px;
  position: relative;
  font-size: var(--paragraph-p1-regular-size);
  letter-spacing: -0.02em;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.textBlock {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.tryTaskeyFree {
  position: relative;
  font-size: var(--paragraph-p3-medium-size);
  letter-spacing: -0.02em;
  font-weight: 500;
  font-family: var(--header-h5);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 114px;
}
.iconChild {
  height: 14px;
  width: 14px;
  position: relative;
}
.btnTry,
.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.btnTry {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-21xl);
  background-color: var(--color-cornflowerblue-100);
  border-radius: var(--br-3xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.onABig {
  width: 367px;
  position: relative;
  font-size: var(--paragraph-p1-regular-size);
  letter-spacing: -0.02em;
  line-height: 32px;
  display: inline-block;
  max-width: 100%;
}
.appleBlackLogo2Icon {
  height: 60px;
  width: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 60px;
}
.appIcon {
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.freeTrial,
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.heading {
  width: 608px;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.freeTrial {
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  justify-content: center;
  padding: var(--padding-121xl) var(--padding-xl) var(--padding-13xl);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 1;
  text-align: center;
  font-size: var(--header-h1-size);
  color: var(--color-white);
  font-family: var(--header-h5);
}
@media screen and (max-width: 850px) {
  .tryWhitepaceToday {
    font-size: var(--font-size-39xl);
  }
  .heading {
    gap: var(--gap-xl);
  }
  .freeTrial {
    gap: var(--gap-81xl);
    padding-top: var(--padding-72xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .tryWhitepaceToday {
    font-size: var(--font-size-24xl);
  }
  .getStartedForContainer,
  .onABig {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .freeTrial {
    gap: var(--gap-31xl);
  }
}
