.elementIcon {
  width: 29.51%;
  height: 14.04%;
  position: absolute;
  margin: 0 !important;
  top: 36.32%;
  right: -1.27%;
  bottom: 49.65%;
  left: 71.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.accessYourNotes,
.yourWorkEverywhere {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
}
.yourWorkEverywhere {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.accessYourNotes {
  font-size: var(--paragraph-p2-bold-size);
  line-height: 30px;
  text-align: center;
}
.textBlock {
  width: 1064px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.backgroundIcon {
  height: 1327.78%;
  width: 432.82%;
  position: absolute;
  margin: 0 !important;
  top: -880.95%;
  right: 285.13%;
  bottom: -346.83%;
  left: -617.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.tryTaskey {
  position: relative;
  font-size: var(--paragraph-p2-bold-size);
  letter-spacing: -0.02em;
  line-height: 23px;
  font-weight: 500;
  font-family: var(--header-h5);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 91px;
}
.iconChild {
  height: 14px;
  width: 14px;
  position: relative;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.btnTry,
.heading,
.yourWork {
  display: flex;
  align-items: center;
}
.btnTry {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-21xl);
  background-color: var(--color-cornflowerblue-100);
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.heading,
.yourWork {
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.heading {
  width: 1481px;
  padding: 0 var(--padding-xl);
  gap: var(--gap-41xl);
}
.yourWork {
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  padding: var(--padding-121xl) 0;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--header-h1-size);
  color: var(--color-white);
  font-family: var(--header-h5);
}
@media screen and (max-width: 1225px) {
  .heading {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 850px) {
  .yourWorkEverywhere {
    font-size: var(--font-size-39xl);
  }
  .yourWork {
    padding-top: var(--padding-72xl);
    padding-bottom: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .yourWorkEverywhere {
    font-size: var(--font-size-24xl);
  }
}
